<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="https://fonts.googleapis.com/css2?family=Bahianita&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="app">
        <h1>Ethan (α231) & Jeremy's (α224) highly accurate and scientific chemical reaction simulator<sup>1</sup></h1>
        
        <div class="flex-parent">
            <div class="flex-child">
                <p><button @click="restart">Restart</button></p>

                <!--The concentration i.e. water mL-->
                <span>Concentration (M of HCl)</span>
                <div class="slidecontainer">
                    <input type="range" min="0" max="1" step="0.1" value="0" class="slider" id="myRange" v-model="molarity">
                    <span>{{ molarity }}</span>
                </div>
                <!--The surface area i.e. number of zinc pieces-->
                <span>Surface Area (number of balls of Zinc)</span>
                <div class="slidecontainer">
                    <input type="range" min="1" max="10" value="1" class="slider" id="myRange" v-model="pieces">
                    <span>{{ pieces }}</span>
                </div>
                <!--The temperature i.e. degrees kelvin-->
                <span>Temperature (Kelvin)</span>
                <div class="slidecontainer">
                    <input type="range" min="273" max="373" value="293" class="slider" id="myRange" v-model="temp">
                    <span>{{ temp }}</span>
                </div>

                <p>Rate of reaction: {{ rate }} mol/s H<sub>2</sub></p>
                <p>Amount of gas produced: {{ gas }} mol/s H<sub>2</sub></p>
            </div>

            <div class="flex-child">
                <canvas width="500" height="700" id="beaker"></canvas>
            </div>
        </div>

        <p><sup>1</sup>This statement has not been evaluated by a professional, and probably isn't true. Use this software at your own risk.
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/21.0.1/min/jcanvas.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>