* {
    font-family: 'Bahianita', cursive;
    font-size: 20pt;
}

.flex-parent {
    display: flex;
    flex-wrap: wrap;
}

.flex-child {
    margin: 10px;
    padding: 10px;
    border: 2px black solid;
}

.slider {
    -webkit-appearnace: none;
    appearance: none;
    width: 500px;
    height: 10px;
    background-color: #cccccc;
    border-radius: 10px;
}

.slider::-moz-focus-outer {
    border: 0;
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
    appearance: none;
    -webkit-appearance: none;
    background-color: #c33;
    height: 20px;
    width: 20px;
    border: none;
}